@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
*,
*::after,
*::before {
  font-family: "Roboto", sans-serif;

  padding: 0;
}

/* Define CSS variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --danger-color: rgb(208, 29, 29);
  --font-size-heading: 24px;
  --font-size-paragraph: 16px;
}

/* using CSS variables */
h2 {
  color: var(--primary-color);
  font-size: var(--font-size-heading);
}

p {
  color: var(--secondary-color);
  font-size: var(--font-size-paragraph);
}

.container {
  background-color: #f5eaea;
  width: 100%;
  height: 900px;
  padding: 20px;
}

h1 {
  color: #04d74e;
  font-size: 38px;
  text-align: center;
}

ul li:first-child {
  color: red;
  font-weight: bold;
}

img#my-image {
  width: 350px;
  height: 250px;
}

table tr td:first-child {
  font-weight: bold;
  font-size: 19px;
}

table tr:last-child td {
  background-color: rgb(46, 238, 39);
}

table thead tr {
  background-color: #29f6eb;
}

table {
  border-collapse: collapse;
  width: 85%;
}

table td,
table th {
  border: 1px solid black;
  padding: 8px;
}

/* when hovered over or clicked */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(235, 9, 148);
}

a:active {
  color: red;
}

/* Add decorative content using ::before pseudo-element */
.decorated-element::before {
  content: "$$$****$$ ";
}
.decorated-element::after {
  content: "";
  background-image: url(https://media.tenor.com/Wq-MvpjAJksAAAAM/emojilaugh-emoji.gif);
  background-size: 50px 50px; 
  display: inline-block;
  width: 50px; 
  height: 50px; 
}

/* Apply box model properties */
.box {
  padding: 20px;
  margin: 10px;
  border: 1.5px solid #02d402;
}
